# 1. CONFIGURACIÓN DEL SERVIDOR
server:
  port: 8084 # Puerto específico para el Microservicio de Solicitudes

spring:
  # 2. CONFIGURACIÓN DEL DATASOURCE (SQL Server)
  datasource:
    url: jdbc:sqlserver://sqlserver:1433;databaseName=sistema_viajes_db;encrypt=false;trustServerCertificate=false
    username: SA
    password: YourStrongPassword123!
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver

  # 3. CONFIGURACIÓN DE JPA/HIBERNATE
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.SQLServerDialect

  # 4. CONFIGURACIÓN DE SEGURIDAD (Keycloak Resource Server)
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://keycloak:8080/auth/realms/viajes-ms-realm/protocol/openid-connect/certs

# 5. URLs DE OTROS MICROSERVICIOS INTERNOS (Orquestación)
microservices:
  inventario:
    # En desarrollo local (IDE) usar localhost. Si levantás con Docker Compose, cambiá a http://ms-inventario:8085/contenedores
    url: http://localhost:8085/contenedores
  usuarios:
    url: http://ms-usuarios:8082/usuarios
  viajes:
    url: http://ms-viajes:8083/rutas
